<div class="text-center" *ngIf="isLoading">
  <img src="assets\images\Spinner-1s-200px.svg" alt="Loading ...">
</div>
<section id="coursePage" *ngIf="course">

  <img id="course-img" src="{{course.courseImage}}" alt="">
  <span id="edit-remove-BTNs" class="d-flex flex-column">
    <button mat-raised-button matTooltip="Edit Course" id="editBTN" class="mb-2" (click)="editCourseDialog()"
      *ngIf="UserIsPublisher">
      <i class="bi bi-pencil-square editingCourse"></i>
    </button>
    <button mat-raised-button matTooltip="Delete Course" id="deleteBTN" color="warn" (click)="deleteCourse()"
      *ngIf="UserIsPublisher">
      <i class="bi bi-trash3 editingCourse"></i>
    </button>
  </span>

  <div id="courseContent">
    <div class="row">
      <div id="sidebar" class="col-4 col-md-3 col-lg-3 d-flex flex-column align-items-center justify-content-start">
        <div class="btnsSide">
          <button mat-raised-button id="overviewBtn" routerLink="./courseOverview" routerLinkActive="active">
            Course Overview
          </button>
          <button mat-raised-button id="addLessonBtn" matTooltip="Create Lesson" *ngIf="UserIsPublisher"
            (click)="CreateLesson()">
            <i class="bi bi-file-earmark-plus"></i>
          </button>
        </div>

        <p class="lessonsBtns mb-3 d-flex justify-content-between align-items-center" *ngFor="let l of course.lessons"
          id="{{l.id}}">
          <a class="lessonTitle lessonsBtns" matTooltip={{l.title}} routerLink="/coursePage/{{courseId}}/lesson/{{l.id}}">
            <i class="bi bi-play-circle videoPlayBtn"></i> {{l.title}}
          </a>
          <button mat-button class="rounded-pill" matTooltip="Delete Lesson : {{l.title}}" id="deleteLessonBtn"
            (click)="deleteLesson(l.id)" *ngIf="UserIsPublisher">
            <i class="bi bi-trash3 deleteLessonIcon"></i>
          </button>
        </p>

      </div>
      <div id="routing" class="col-8 col-md-9 col-lg-9">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</section>
