#coursePage{
  position: relative;
}

#course-img{
  width: 100%;
  max-height: 52vh;
}

#edit-remove-BTNs{
  position: absolute;
  top: 40px;
  right: 40px;
}

#editBTN{
  background-color: var(--color4);
}

#editBTN,#deleteBTN{
  color: white;
}


#sidebar{
  height: auto;
  background-color: var(--color1);
  box-shadow: 2px 5px 15px lightslategray;
}

#sidebar button{
  width: 80%;
}

#overviewBtn, #addLessonBtn{
  color: white;
  background-color: var(--color4);
}
.lessonsBtns{
  
}
#courseContent{
  overflow: hidden;
}
#routing{
  padding: 0px 25px;
}
@media (max-width: 920px) {
  #overviewBtn{
    font-size: 15px;
    letter-spacing: 0px;
  }
  #myLearningsBTN{
    letter-spacing: 1px;
    padding: 10px;
  }
  #course-img{
    max-height: 35vh;
  }
  .fs-4{
    letter-spacing: 0px;
  }
}

@media (max-width:720px){
  #routing{
    padding: 0px 10px;
  }
}
