.mycontainer{
    margin: auto;
    padding-top: 4vh ;
    inset: 0;
    width: 96%;
}
.btncolor
{
    background-color: var(--color5);
    color:white;
    width: 30%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}
.formInputs{
width: 37%;
}
.imageLog{
    width: 45%;
}

.btnsContainer{
    display: flex;
flex-direction: column;
align-items: end;
margin-top: 30px;
}
.flexContain{
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px 1px #dbdbdb;
    margin: 10px 0px 40px 0px;
}
.paragraphLogin{
    margin-top: 9px;
}
.overlay{
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
  }
  .overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
@media (max-width:920px){
    .btncolor
{
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
}
.paragraphLogin{
    text-align: center;
    width: 100%;
}
}
@media (max-width:720px){
    .flexContain{
      flex-direction: column;
    }
.formInputs{
    order: 1;
}
.formInputs{
    width: 100%;
    }
    .imageLog{
        width: 100%;
    }
}
#form3Example4{
    border: 1px solid #e8e8e8;
}