<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="headName">KHWARIZMI</h6>
        <p class="text-justify textFoot">Khwarizmi is an e-learning website that provides an interactive platform for individuals to learn programming. The website is designed to cater to the needs of those who want to learn programming in a flexible and convenient way. The website offers a variety of programming courses, ranging from beginner to advanced levels, to help students acquire practical skills and knowledge. </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>Web Development</li>
          <li>Mobile Development</li>
          <li>Game Development</li>
          <li>Database Design</li>
          <li>Data Science</li>
          <li>Software Engineer</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul *ngIf="!isAuthenticated" class="footer-links">
          <li><a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/signin" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Courses</a></li>
          <li><a routerLink="/signin" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Learning</a></li>
          <li><a routerLink="/signin" routerLinkActive="active">Profile</a></li> 
        </ul>
        <ul *ngIf="isAuthenticated" class="footer-links">
          <li><a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/courses" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Courses</a></li>
          <li><a routerLink="/Mylearning" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Learning</a></li>
          <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li> 
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
     <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" class="nameLogo">Khwarzmi</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>


