<footer>
 <div class="foot-container">
  <div class="head-footer">
    <h3>Khwarizmi</h3>
    <p class="address">A108 Adam Street
      NY 535022, USA</p>
      <p class="info"> Phone: +1 5589 55488 55</p>
      <p class="info"> Email: info@example.com</p>
      <div class="icons-links">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
  </div>
  <div class="links">
    <div class="links1">
      <h6>Useful Links</h6>
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Services</a>
      <a href="">Constructions</a>
      <a href="">Contact Us</a>
    </div>
    <div class="links1">
      <h6>Our Services</h6>
      <a href="">Web Design</a>
      <a href="">Web Development</a>
      <a href="">Product Mangment</a>
      <a href="">Marketing</a>
      <a href="">Graphic Design</a>
    </div>
    <div class="links1">
      <h6>Hic solutasetp</h6>
      <a href="">Molestiae accusamus iure</a>
      <a href="">Excepturi dignissimos</a>
      <a href="">Suscipit distinctio</a>
      <a href="">Dilecta</a>
      <a href="">Sit quas consectetur</a>
    </div>
    <div class="links1">
      <h6>Nobis illum</h6>
      <a href="">Ipsam</a>
      <a href="">Laudantium dolorum</a>
      <a href="">Dinera</a>
      <a href="">Trodelas</a>
      <a href="">Flexo</a>
    </div>
  </div>
 </div>
 <div class="footpra">
<p><i class="fa-regular fa-copyright"></i> Copyright <span>Khwarizmi</span> . All Rights Reserved </p>
 </div>
</footer>
<!-- Footer -->