<section>
  <h2 mat-dialog-title>Create New Lesson</h2>
  <div class="mx-4">
    <mat-error *ngIf="!isFormValid">Please enter the required course data to enable the save button</mat-error>
  </div>
  
  <mat-dialog-content [formGroup]="lessonForm">
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="title" formControlName="title" />
      </mat-form-field>
    </div>
  
    <div class="row">
      <mat-form-field>
        <textarea
          matInput
          placeholder="description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
    
    <div class="row">
      <mat-label>upload your video here</mat-label>
      <input type="file" accept="video/*" formControlName="video" (change)="getVideo($event)"/>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="justify-content-center">
    <button class="m-2" mat-raised-button (click)="submit(false)">create as draft</button>
    <button class="m-2" mat-raised-button (click)="submit(true)">create and Publish</button>
  </mat-dialog-actions>
  </section>