<section style="background-color: #eee;">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item " aria-current="page"><a routerLink="/personal">User Profile</a></li>
            <li class="breadcrumb-item " aria-current="page"><a routerLink="/pcourses">courses</a></li>
          </ol>
        </nav>
      </div>
    </div>
    </div>
    <div class="container my-2">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" *ngFor="let course of courses">
          <div class="card h-100">
            <img [src]="course.courseImage" class="card-img-top" alt="..." height="200rem">
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <p class="card-text">{{ course.description }}</p>
              <a href="#" class="btn btn-primary">Course Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
