<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" routerLink="/"><img src="assets\images\logo4.png" alt="logo" class="logo-img"></a>
    </div>
    <div class="searchBar">
      <div class="searchIcon"><i class="bi bi-search"></i></div>
      <div class="searchInput">
        <input class="form-control me-2 scInp" type="text" (keyup.enter)="OnSearch($event)" placeholder="Search for anything" aria-label="Search">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navigation-bar" id="navbarSupportedContent">
      <div class="links">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isAuthentication">
            <a class="nav-link cool-link" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item" *ngIf="isAuthentication">
            <a class="nav-link cool-link" routerLink="/Mylearning" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My learning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cool-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li *ngIf="isAuthentication">
            <button class="videoIcon" mat-raised-button matTooltipPosition="below" matTooltip="Create Course Playlist" (click)="createCourseDialog()"><i class="bi bi-camera-reels"></i></button>
          </li>
          <li class="login-btn" *ngIf="!isAuthentication">
            <a class="nav-link" id="login" aria-current="" routerLink="/signin" routerLinkActive="active">Log in</a>
          </li>
          <li class="log-btn" *ngIf="!isAuthentication">
            <a class="nav-link" id="lg-btn" aria-current="" routerLink="/signup" routerLinkActive="active">Sign up</a>
          </li>
          <li *ngIf="isAuthentication">
            <a target="_blank" class="FavIcon" mat-raised-button matTooltipPosition="below" matTooltip="Donate for Khwarezmi" href="https://checkout.stripe.com/c/pay/cs_test_a1oJyzib06qwbwYqxkzK9JvGBkGajy8bi4ox52k2XmRJ2CTwrQ3JdqVCk0#fidkdWxOYHwnPyd1blpxYHZxWjA0S0RSdFdBQ1FWMTVvf0Ryb0ZkNj1sNDZjQ3FvZ04xVk5Hck1rfHxHZkNEck11RGsyPUtgST1OPFBcXDFfVDF2VDxrU0x0R3w1T2NNMXBLazxsVE1yRmZSNTVuQF93T05oQCcpJ3VpbGtuQH11anZgYUxhJz8ncWB2cVo1NWJmSFA2dzcwVDE9T0JhVFQnKSd3YGNgd3dgd0p3bGJsayc%2FJ21xcXV2PyoqZm1gZm5qcHErdnF3bHVgK2ZqaConeCUl">
              <i class="fas fa-donate"></i>
                 </a>
          </li>
          <li class="nav-item m-3 userli" *ngIf="isAuthentication">
            <a class="userBtn d-flex align-items-center" routerLink="/profile" routerLinkActive="active">
              <span>{{username}}</span>
              <img src="{{userImage}}" class="userimage">
            </a>
          </li>
          <li class="logOutli" *ngIf="isAuthentication">
            <button class="logoutBtn" mat-raised-button matTooltipPosition="below" matTooltip="LogOut" (click)="logOut()">
                   <i class="bi bi-arrow-bar-right"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- <div class="text-center" *ngIf="isLoading">
  <img src="assets\images\Spinner-1s-200px.svg" alt="Loading ...">
</div> -->
