.head{
    width: 100vw;
    height: 15vh;
    color: azure;
    background-color: black;
    padding: 6px;
text-align: center;
}

:hover .linkcolor{

}

.btncolor{
  color:white;
  background-color: black;
}
