<section>
    <div class="head  ">
        <!-- Pills navs -->
        <div class=" d-flex justify-content-around">
            <button class="btn">
                <a (click)='GetCourses("Allcourses")' class="active text-light btncolor text-decoration-none">ALlCourses</a>
            </button>

            <button class="btn">
                <a class="active text-light btncolor text-decoration-none" data-mdb-toggle="pill"
                    (click)='GetCourses("mylist")'>My
                    List</a>
            </button>
            <button class="btn">
                <a class="active text-light  btncolor text-decoration-none" data-mdb-toggle="pill"
                    (click)='GetCourses("wishlist")' role="tab">wish
                    List</a>
            </button>
        </div>
    </div>
    <!-- Pills navs -->

</section>
<section class="py-5">
    <div class="container text-center mt-3 mb-3 ">
        <div class="row g-3">
            <div routerLink="/coursePage/{{c.id}}/courseOverview" class="col-12 col-md-6 col-lg-4 mydiv "
                *ngFor="let c of courses">
                <!-- Card -->
                <div class="card " style="width:100%;">
                    <img src="{{c.image}}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title"><strong>Course Name:</strong> {{c.name}}</h5>
                        <p class="card-text"> <strong> Creator:</strong> {{c.creatorname}}</p>
                        <!-- <a routerLink="/coursePage/{{c.id}}/courseOverview" class="btn btn-primary">Course Details</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="errorContainer" *ngIf="isEmpty">
    <img src="assets\images\empty_item.svg" alt="error" />
    <p class="errorMsg">courses not found</p>
</div>