<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp imageContainer" data-wow-delay="0.1s">
        <div class="position-relative h-100 ">
          <img class="img-fluid position-absolute imageAbout"
            src="assets\images\e-learning5.jpg"
            alt="" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h1 class="section-title bg-white text-start  pe-3 aboutcolor">About Us</h1>
        <h2 class="mb-4 fonttitle">Welcome to Khawarizmi</h2>
        <h3 class=" fw-bold">Improving lives through learning</h3>
        <p class="mb-4 lh-lg">
          Whether you want to learn or to share what you know, you’ve come to the right place. As a global
          destination for online learning, we connect people through knowledge.

        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Workshops
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Online
              Classes</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Assessment
              and Evaluation</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Skilled
              Instructors</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Analytics
              and Reporting</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><span class="aboutcolor"><i class="fa fa-arrow-right me-2"></i></span>Collaboration Tools</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center aboutcolor   px-3">Meet Our Expert Team</h6>

    </div>
    <div class="row g-4 d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="../../../../assets/images/mina.jpeg" alt="">
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0 fw-bold">Abanoub Saleh</h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="../../../../assets/images/abdallah-photo.jpg" alt="">
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0 fw-bold">Abdullah Nagy</h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="../../../../assets/images/mina.jpeg" alt="">
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0 fw-bold">Mohamed Magdy</h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="../../../../assets/images/mina.jpeg" alt="">
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0 fw-bold"> Mina Gerges</h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="../../../../assets/images/yasmeen2.jpg" alt="">
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0 fw-bold">Yasmeen Alaa Eldin</h5>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>




<!-- Team End -->
