<div class="about">
  <div class="container">
      <div class="row">
          <div class="aboutText col-lg-6">
              <h2>About Khwarizmi</h2>
              <p>
                Khwarizmi is an e-learning website that provides an interactive platform for individuals to learn programming. The website is designed to cater to the needs of those who want to learn programming in a flexible and convenient way. The website offers a variety of programming courses, ranging from beginner to advanced levels, to help students acquire practical skills and knowledge.
              </p>
          </div>
          <div class="aboutImgage col-lg-6">
              <img class="aboutImg" src="assets\images\e-learning8.jpg" alt="about img">
          </div>
        </div>

        <div class="row">
          <div class="aboutImgage col-lg-6">
              <img class="aboutImg" src="assets\images\e-learning5.jpg" alt="about img">
          </div>
          <div class="aboutText col-lg-6">
              <p>

                Khwarizmi aims to make programming education accessible to everyone, regardless of their location or schedule. Students can learn at their own pace and on their own time, making it an ideal platform for working professionals, students, and anyone who wants to learn programming in a flexible and convenient way. 
                The ultimate objective of Khwarizmi is to make programming education accessible to everyone, regardless of their background or experience, and to help individuals acquire the skills they need to succeed in their careers or personal projects.	              </p>    
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center aboutcolor   px-3">Meet Our Expert Team</h6>

    </div>
    <div class="row g-4 d-flex justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp cardTeam" data-wow-delay="0.1s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="assets\images\abdallah-png.png" alt="">
          </div>

          <div class="text-center p-4">
            <h2 class="mb-0 fw-bold nameTeam">Abanoub Saleh</h2>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp cardTeam" data-wow-delay="0.3s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="assets\images\abdallah-png.png" alt="">
          </div>

          <div class="text-center p-4">
            <h2 class="mb-0 fw-bold nameTeam">Abdullah Nagy</h2>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp cardTeam" data-wow-delay="0.5s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="assets\images\magdy-png.png" alt="">
          </div>

          <div class="text-center p-4">
            <h2 class="mb-0 fw-bold nameTeam">Mohamed Magdy</h2>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp cardTeam" data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="assets\images\mina-png.png" alt="">
          </div>

          <div class="text-center p-4">
            <h2 class="mb-0 fw-bold nameTeam"> Mina Gerges</h2>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp cardTeam" data-wow-delay="0.7s">
        <div class="team-item bg-light">
          <div class="overflow-hidden member-img">
            <img class="img-fluid" src="assets\images\yasmeen-png.png" alt="">
          </div>

          <div class="text-center p-4">
            <h2 class="mb-0 fw-bold nameTeam">Yasmeen Abotalb</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team End -->
