@import "~bootstrap-icons/font/bootstrap-icons.css";
/* #submitBtn{
  background-color: var(--color3);
}
#resetBtn{
  background-color: var(--color1);
}
#createCourseDialog{
  background-color: var(--color2);
}
.mat-mdc-form-field-error {
  color: var(--mdc-theme-error, #a81106);
} */

.head-title{
margin: 0;
height: 45px;
}
.icon-add{
  font-size: 25px;
  margin: 0 5px 0 0;
}
