<section class="p-5 main" id="dialog-edit">
  <h2 mat-dialog-title><i class="bi bi-pencil-square"></i> Edit Video</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <label id="lab" class="m-3">please attach the new video</label>
      <input id="inpt-edit" class="m-4" type="file" accept="video/*" (change)="onVideoChange($event)" />
    </mat-form-field>
    <div class="d-flex justify-content-right" mat-dialog-actions>
      <button id="okay-btn" mat-button [mat-dialog-close]="videoFile" cdkFocusInitial>Ok</button>
    </div>
  </mat-dialog-content> 
  </section>
  