<section class="main">
  <div class="container-fluid lead">
    <div class="row">
      <div class="d-flex justify-content-center flex-column title-container">
        <h1 class="text-center p-4">{{ title }}</h1>
        <button
          class="btn btn-dark edit-btn"
          (click)="editTitle()"
          *ngIf="userId == courseOwner"
        >
          edit title
        </button>
      </div>

      <div class="d-flex justify-content-center flex-column video-container">
        <video [src]="videoURL" controls></video>
        <button
          class="btn btn-dark edit-btn"
          (click)="editVideo()"
          *ngIf="userId == courseOwner"
        >
          edit video
        </button>
      </div>
    </div>

    <div class="row description m-3 p-3">
      <div
        class="d-flex justify-content-center flex-column description-container"
      >
        <div>
          <h3>Description</h3>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
            animi. Dicta, et exercitationem aut veniam quis iste sit ab quod
            mollitia officiis accusamus minus aliquam autem recusandae eaque,
            eius atque. Quaerat accusamus distinctio a vel illum. Reiciendis et
            distinctio repellat perspiciatis reprehenderit hic laborum corporis.
            Tenetur saepe eius beatae.
          </div>
        </div>
        <button
          class="btn btn-dark edit-btn"
          (click)="editDescription()"
          *ngIf="userId == courseOwner"
        >
          edit desc
        </button>
      </div>
    </div>
    <div class="row"></div>
  </div>
</section>
