<section class="">
  <div class="container-fluid lead">
    <div class="row">
      <div class="d-flex justify-content-center flex-column title-container">
        <h1 class="text-center p-4">{{ title }}</h1>
        <button
          class="btn btn-dark edit-btn"
          (click)="editTitle()"
          *ngIf="userId == courseOwner"
        >
          edit <br />
          title

      </div>

      <div class="d-flex justify-content-center flex-column video-container">
        <video 
        [src]="videoURL"
        data-cld-public-id="" 
        
        controls>
      </video>

        <!-- <iframe
          [src]="videoURL"
          width="640"
          allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
          allowfullscreen
          frameborder="0"
        ></iframe> -->

        <button
          class="btn btn-dark edit-btn"
          (click)="editVideo()"
          *ngIf="userId == courseOwner"
        >
          edit <br />
          video
        </button>
      </div>
    </div>

    <div class="row description m-3 p-3">
      <div
        class="d-flex justify-content-center flex-column description-container"
      >
        <div class="main p-3">
          <h3>Description</h3>
          <div *ngIf="!descriptionEditMode" [innerHTML]="description"></div>
          <div *ngIf="descriptionEditMode" class="row p-3 m-3">
            <ejs-richtexteditor #exampleRTE id="defaultRTE">
            </ejs-richtexteditor>
          </div>
          <div class="d-flex justify-content-center">
            <button
              *ngIf="descriptionEditMode"
              class="btn btn-dark m-5"
              (click)="editDescriptionSubmit()"
            >
              submit
            </button>
          </div>
        </div>
        <button
          class="btn btn-dark edit-btn"
          (click)="editDescription()"
          *ngIf="userId == courseOwner"
        >
          edit <br />
          desc
        </button>
      </div>
    </div>
    <div class="row m-5"></div>
  </div>
</section>
