<div class="container-list">
  <div class="title pt-3 pb-3 mt-3">
    <h2 class="position-relative d-inline-block ms-4">
      <i class="bi bi-list-ul"></i>  A broad selection of courses
    </h2>
    <div class="text-courses">
      <h3>Expand your career opportunities with our Latest courses</h3>
    <p>Take one of Khwarizmi range of courses and learn how to code using this incredibly useful languages. Choose from a range of courses that will appeal to you</p>
    </div>
    <button class="btn-courses"><a routerLink="/courses">More Courses</a></button>
  </div> 
  <ng-container>
    <owl-carousel-o [options]="customOptions">  
      <ng-template carouselSlide *ngFor="let c of newestCourses">
        <div routerLink="/coursePage/{{c.id}}/courseOverview" class="card" style="width: 18rem;">
          <img src="{{c.courseImage}}" class="card-img-top" alt="course">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">{{c.description}}</p>
            <!-- <a class="linkRoute" routerLink="/coursePage/{{c.id}}/courseOverview" routerLinkActive="Active" class="btn btn-primary">Let's learn</a> -->
          </div>
        </div>
      </ng-template>  
    </owl-carousel-o>
  </ng-container>
  <div class="text-center" *ngIf="isloading">
    <img src="assets\images\Spinner-1s-200px.svg" alt="Loading ...">
  </div> 
</div>