<div class="container-courses">
  <select name="" id="" >
    <option value="Choose category">Choose category</option>
    <option value="All Categories" (click)="getAllCourses()">All Categories</option>
    <option (click)="getCategoryCourses(x.id)" *ngFor="let x of categories">{{x.catName}}</option>
  </select>

  <div class="pagination">
    <button class="btnPaginate" [disabled]="pageCategories === 1" (click)="prevPage()"><i class="bi bi-chevron-double-left"></i>
    </button>
    <a class="pageNumber isActive" *ngFor="let pageNumber of arr" (click)="LoadPage(pageNumber)">
      {{ pageNumber }} 
    </a>
    <button class="btnPaginate" [disabled]="pageCategories === 10" (click)="nextPage()"><i class="bi bi-chevron-double-right"></i></button>
  </div>

  <!-- | paginate:{itemsPerPage:itemsPerPage,currentPage:CourseService.page} -->
    <div class="CourseCard" *ngFor="let c of coursePerPage" routerLink="/coursePage/{{c.id}}/courseOverview" routerLinkActive="Active" >
      <div *ngIf="!isEmpty">
        <div class="cardImage"> 
          <img class="imageCourse" src="{{c.courseImage}}" alt="course">
        </div>
        <div class="CardText">
          <h2 class="CardTitle">{{c.name}}</h2>
          <p class="CardDescription">{{c.description}}</p>
          <span class="CardDate">{{c.date.slice(0, 10)}}</span>
          <span style="display: block;">votes {{c.upVotes}}</span>
        </div>
      </div>
    </div>

</div>

<div class="errorContainer" *ngIf="isEmpty">
  <img src= "assets\images\empty_item.svg" alt="error">
  <p class="errorMsg">no more courses</p>
</div>
<div class="text-center" *ngIf="isLoading">
  <img src="assets\images\Spinner-1s-200px.svg" alt="Loading ...">
</div>
 
<div class="pagination">
  <button class="btnPaginate" [disabled]="pageCategories === 1" (click)="prevPage()"><i class="bi bi-chevron-double-left"></i>
  </button>
  <a class="pageNumber isActive" *ngFor="let pageNumber of arr" (click)="LoadPage(pageNumber)">
    {{ pageNumber }} 
  </a>
  <button class="btnPaginate" [disabled]="pageCategories === 10" (click)="nextPage()"><i class="bi bi-chevron-double-right"></i></button>
</div>

<!-- 
  <div class="paginate">
    <pagination-controls (pageChange)="CourseService.page = $event" (click)="LoadPage(CourseService.page)"></pagination-controls>
  </div> -->
  <!-- <button [disabled]="pageNumber === totalPages" (click)="nextPage()">Next</button> -->
<!-- <div class="pageControler" *ngIf="!isLoading">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->
