/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color1: #f6f1f1;
  --color2: #afd3e2;
  --color3: #19a7ce;
  --color4: #146c94;
  --color5: #1492b5;
  --black: black;
  --gray1: #ffffffad;
  --gray2: #fdfdfd24;
  --gray3: #9d99993d;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

strong {
  font-weight: bold !important;
}
