<div class="container-courses" *ngIf="searchService.isError==false">
  <h2  *ngIf="searchService.isloading==false&&searchService.isError==false" class="headSearch">{{searchService.searchTotal}} Results for "{{searchService.searchQuery}}"</h2>
      <div routerLink="/coursePage/{{c.id}}/courseOverview" class="CourseCard" *ngFor="let c of searchService.SearchResult | paginate:{itemsPerPage:perPage,currentPage:searchService.p}">
        <div class="cardImage"> 
          <img class="imageCourse" src="{{c.courseImage}}" alt="course">
        </div>
        <div class="CardText">
          <h2 class="CardTitle">{{c.name}}</h2>
          <p class="CardDescription">{{c.description}}</p>
          <span class="CardDate">{{c.date.slice(0, 10)}}</span>
          <span style="display: block;">votes {{c.upVotes}}</span>
        </div> 
      </div>
  </div>
  <div class="paginate" *ngIf="searchService.isloading==false && searchService.isError==false">
    <pagination-controls (pageChange)="searchService.p = $event"></pagination-controls>
  </div>
  <div class="text-center" *ngIf="searchService.isloading">
    <img src="assets\images\Spinner-1s-200px.svg" alt="Loading ...">
  </div> 
  <div class="errorContainer" *ngIf="searchService.isError">
    <img src= "assets\images\empty_item.svg" alt="error">
    <p class="errorMsg">{{searchService.errorMsg}}</p>
  </div>
  