<section id="feedbackDialog">
  <h2 mat-dialog-title>Add Your Feedback</h2>

  <mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <textarea #feedback class="inp-field" matInput placeholder="Please share your opinion with us"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-center">
    <button mat-raised-button id="closeBtn" class="m-2" color="accent" (click)="close()">Close</button>
    <button mat-raised-button [mat-dialog-close]="feedback.value" id="submitBtn" class="m-2" (click)="submit(feedback.value)">Submit</button>
  </mat-dialog-actions>
</section>
